@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,100,200,300,400,600,700);

//Colors
$brand-primary : 		#4B7AE3;
$brand-primary-light : 	lighten($brand-primary, 20%);
$brand-primary-dark : 	darken($brand-primary, 20%);
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

//Grays
$gray-darker:           lighten(#000, 13.5%); // #222
$gray-dark:             lighten(#000, 20%);   // #333
$gray:                  lighten(#000, 33.5%); // #555
$gray-light:            lighten(#000, 60%);   // #999
$gray-lighter:          lighten(#000, 93.5%); // #eee

//Basic Colors
$white-color : 			#FFFFFF;
$black-color: 			#000000;

//Font Styling & Sizing
$font-stack : 			'Open Sans', Tahoma, Arial;

$font-size-base:        14px; //Important To Be 14px For FontAwesome Rendering
$font-size-large:       ceil(($font-size-base * 1.25)); // ~18px
$font-size-xlarge:      ceil(($font-size-base * 1.79)); // ~25px
$font-size-small: 		ceil(($font-size-base * 0.85)); // ~12px

$weight-light: 			300;
$weight-normal: 		400;
$weight-semibold: 		600;
$weight-bold: 			700;

$font-size-h1:          floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:          floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:          ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:          ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:          $font-size-base;
$font-size-h6:          ceil(($font-size-base * 0.85)); // ~12px


//For RTL, Use It For Floatation
$left: left;
$right: right;


//Ready Borders "Define The Average Size Of The Template Borders"
$border : 1px solid $gray;
$borderLight : 1px solid $gray-light;
$borderDark : 1px solid $gray-dark;


//For RTL padding-left, padding-right and absolute positioning
//Always Put A Value For Both "Auto Or Pixels"
@mixin padding-left-right($pleft : 0px, $pright : 0px){
	padding-left: $pleft;
	padding-right: $pright;
}
@mixin margin-left-right($mleft : 0px, $mright : 0px){
	padding-left: $mleft;
	padding-right: $mright;
}
@mixin absolute-left-right($aleft : 0px, $aright : 0px){
	left: $aleft;
	right: $aright;
}

//Mixins

//Primary Color Gradient
@mixin primaryGrad($gradDeg: 180 , $gradStart: $brand-primary-light , $gradEnd : $brand-primary){
	/* Old browsers */
	background: $gradStart;
	/* FF3.6+ */
	background: -moz-linear-gradient($gradDeg,  $gradStart 0%, $gradEnd 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$gradStart), color-stop(100%,$gradEnd));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient($gradDeg,  $gradStart 0%,$gradEnd 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient($gradDeg,  $gradStart 0%,$gradEnd 100%);
	/* IE10+ */
	background: -ms-linear-gradient($gradDeg,  $gradStart 0%,$gradEnd 100%);
	/* W3C */
	background: linear-gradient($gradDeg,  $gradStart 0%,$gradEnd 100%);
	/* IE6-9 fallback on horizontal gradient */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradStart', endColorstr='$gradEnd',GradientType=0 );
}


//Gray Color Gradient
@mixin grayGrad($gradDeg: 180 , $gradStart: $gray-lighter , $gradEnd : $gray){
	/* Old browsers */
	background: $gradStart;
	/* FF3.6+ */
	background: -moz-linear-gradient($gradDeg,  $gradStart 0%, $gradEnd 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$gradStart), color-stop(100%,$gradEnd));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient($gradDeg,  $gradStart 0%,$gradEnd 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient($gradDeg,  $gradStart 0%,$gradEnd 100%);
	/* IE10+ */
	background: -ms-linear-gradient($gradDeg,  $gradStart 0%,$gradEnd 100%);
	/* W3C */
	background: linear-gradient($gradDeg,  $gradStart 0%,$gradEnd 100%);
	/* IE6-9 fallback on horizontal gradient */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradStart', endColorstr='$gradEnd',GradientType=0 );
}


//Border Radius
@mixin border-radius($radius : 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}


//Box Shadow
@mixin box-shadow($shadow : 0px 1px 3px rgba(0,0,0,.5)) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}


//Text Shadow
@mixin text-shadow($tShadow : 0px 1px 3px rgba(0,0,0,.5)) {
	-webkit-box-shadow: $tShadow;
	-moz-box-shadow: $tShadow;
	-o-box-shadow: $tShadow;
	box-shadow: $tShadow;
}


//Transition
@mixin transition($transitionvalue : all .25s ease-in-out){
	-webkit-transition:$transitionvalue;
	-o-transition:$transitionvalue;
	-moz-transition:$transitionvalue;
	transition:$transitionvalue;
}

@mixin transparent($color, $alpha) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	background-color: transparent;
	background-color: $rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
	zoom: 1;
}

.backgroundCover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// my mixins for this template 

// styling starts from here

body{
	font-family:$font-stack;
}
/* styling navbar */
#nav {
	width: 100%;
	position:static;
	top:-32px;
	margin-bottom: 0;
	@include box-shadow($shadow : 0 0 3px rgba(0,0,0,.2));
	background:$white-color;
	min-height:100px;

	& .creativity-logo{

	}

	&.affix {
		position: fixed;
		top: 0;
		z-index:999;
		@include transition;
	}
	.navbar-brand{
		img{
			margin-top: 0px;
			position: relative;
			top:15px;
		}
		padding:0;
		height: 69px;
		line-height: 69px;
	}
	&.navbar-fixed-top{
		position: fixed;
		top:0;
	}
	.navbar-toggle{
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 9px;
		i{
			font-size:2em;
		}
	}
	.navbar-nav{
		li{
			a{
				text-transform: uppercase;
				padding-top: 25px;
				padding-bottom: 24px;
				font-family: $font-stack;
				font-weight: bold;
				color: $gray-darker;
				@include transition;
				&:hover{
					color: $brand-primary;
					background:none;
				}
			}
			&.social-nav{
				margin: 21px 0 4px 10px;
				border-left: 1px solid $gray-lighter;
				padding-left: 15px;
				a{
					float: left;
					padding: 5px 10px;
					i{
						font-size: 1.33333333em;
					}
				}
			}
			&.active{
				a{
					color: $brand-primary;
				}
			}
		}
	}
}
header {
	background: $gray-darker;
	color:$black-color;
	&.masthead{
		.bannercontainer {
			width:100%;
			position:relative;
			padding:0;
		}
		.banner{
			width:100%;
			position:relative;
		}
		h1{
			text-transform: uppercase;
			font-size: 55px;
			font-weight: bold;
		}
		.tp-bannertimer{
			background:url('../rs-plugin/assets/timerdot2.png');
			height: 3px;
		}
		.tp-caption{
			font-family: $font-stack;
			a{
				color: $white-color;
				&:hover{
					color:$gray-lighter;
				}	
			}
			&.italic{
				font-style: italic;
			}
			.light_bold{
				font-weight: 300;
				font-size: 30px;
				color:$white-color;
				padding-top: 10px;
				text-align: center;
			}
			&.large_white_light{
				font-weight: 300;
				font-size: 40px;
				color:$white-color;
			}
			.btn.btn-naked{
				background:rgba($white-color, 0.3);
				font-size:30px;
				font-style: italic;
				font-weight: $weight-light;
			}
		}
		h1,h2,h3{
			color: $white-color;
		}
	}
}
.go-down{
	position:absolute;
	bottom:20px;
	right:49.2%;
	z-index:999;
	a{
		color: $white-color;
	}
}

.img-center{
	margin: 0 auto;
}

.device-img{
	margin-top:100px;
}

.pre-loader {
	position: fixed;
	background: #ecf0f1;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	display: block;
	.load-con {
		margin: 20% auto;
		position: relative;
		text-align: center;
	}
}

.spinner {
	margin: 50px auto 0;
	width: 70px;
	text-align: center;
}
.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #bdc3c7;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.spinner .bounce1 {
   -webkit-animation-delay: -0.32s;
   animation-delay: -0.32s;
}
.spinner .bounce2 {
   -webkit-animation-delay: -0.16s;
   animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
   0%,
   80%,
   100% {
    	-webkit-transform: scale(0);
   }
   40% {
    	-webkit-transform: scale(1);
   }
}
@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    	-webkit-transform: scale(0);
    }
    40% {
    	transform: scale(1);
    	-webkit-transform: scale(1);
     }
}
.section-heading {
	text-align: center;
	padding: 30px 0;
	h1{
		font-size: 45px;
	}
	h1,h2,h3{
		text-transform: uppercase;
		font-weight: bold;
		span{
			color: $brand-primary;
		}
	}
	h4{
		color:$gray;
		line-height: 22px;
	}
	i{
		color: lighten($gray-light, 25%);
	}
	span.divider{
		margin: 20px auto;
		float: none;
	}
	&.white{
		color:$white-color;
	}
}

section{
	&#creativityProduct{
		background-color: $gray-darker;
		color: white;
		margin-bottom:80px;
		@include box-shadow($shadow : 0px 1px 3px rgba(0,0,0,.2));
		padding: 40px 0;
		.media .media-body h4{
			font-weight: bold;
		}
		span.divider{
			margin: 10px 0;
		}
	}
	&#about{
		padding: 40px 0;
		img{
			margin: 15px auto;
		}
		.media{
			margin-top: 20px;
			.media-body{
				.media-heading{
					font-weight: 200;
					margin-top: 20px;
					font-size: 16px;
				}
				p{
					margin-top: 20px;
				}
			}
		}
		& h1{
			font-weight: 200;
			text-transform: capitalize;

		}

		& .img-center{
			margin-top:-120px;
		}
	}
	.article{
		margin: 25px 0;
		font-size: 20px;
		line-height:32px;
		font-weight: 100;
		span.divider{
			float: none;
			margin: 40px 0;
		}
		h3{			
			a{
				color:$gray-dark;
				&:hover{
					color: $brand-primary;
				}
			}
		}
		.article-details{
			margin: 15px 0;
			.author,.tags{
				display: inline-block;
				a{
					color: $gray-light;
					&:hover{
						color: $brand-primary;
					}
    			}
				i{
					color: $brand-primary;
				}
			}
			.tags{
				margin-left: 5px;
			}
		}
		.article-data{
			color: $gray-light;
			margin: 20px 0;
		}
	}
	& .unit{
		margin-top:20px;
		margin-left:5px;
	}

	& .price-width{
		font-size: 20px;
	}
	& .price-standard{
		@extend .price-primary, .price-width;
	}
	& .price-premium{
		@extend .price-success, .price-width;
	}
	.pricing-check{
		color: #006442;
	}
	.pricing-red{
		color: #DC3023;
	}
	.price-body{
		font-weight: 200;
	}

	&#creativityServices{
		background-color: #3BAFDA;
		color: white;
		margin-bottom:80px;
		@include box-shadow($shadow : 0px 1px 3px rgba(0,0,0,.2));
		padding: 40px 0;
		.media .media-body h4{
			font-weight: 200;
			font-size: 45px;
		}
		span.divider{
			margin: 10px 0;
		}
	}
	&#creativityEngineering{
		background-color: #FFA400;
		color: white;
		margin-bottom:80px;
		@include box-shadow($shadow : 0px 1px 3px rgba(0,0,0,.2));
		padding: 40px 0;
		.media .media-body h4{
			font-weight: 200;
			font-size: 45px;
		}
		span.divider{
			margin: 10px 0;
		}

		& .creativity-tab{
			color: #656D78;
			& .panel {
				min-height:450px;
				& .nav-tabs ul li a{
					font-size: 16px;
				}
				& .tab-content {
					font-size: 20px;
					font-weight: 200;
					line-height: 32px;
					text-align: center;
					margin-top: 100px;
				}
			}
		}
	}
	&#creativityContact{
		padding: 40px 0;
		.contact-details{
			.detail{
				margin: 25px auto;
				h4{
					font-weight: bold;
					text-transform: uppercase;
				}
				p{
					color: $gray-light;
					font-size:20px;
				}
				ul{
					list-style: none;
					padding: 15px 0;
					li{
						margin: 0 5px;
						float: left;
						a{
							padding: 5px;
							color:$gray-light;
							@include transition;
							i{
								font-size: 1.7em;
							}
							&:hover{
								color:$brand-primary;
							}
						}
					}
				}
			}
		}
	}
	&#creativityClients{
		//background-color: $gray-darker;
		//color: white;
		//margin-bottom:80px;
		@include box-shadow($shadow : 0px 1px 3px rgba(0,0,0,.2));
		padding: 40px 0;
		.media .media-body h4{
			font-weight: bold;
		}
		span.divider{
			margin: 10px 0;
		}
	}
}

.price-danger {
	@extend .pricing;
	background-color: #000000;
	& .price-body {
		background-color:#ffffff;
	}
}

.creativity-h1{
	font-weight:700;
	margin-top:20px;
}

section#footer{
	width:100%;
	& .footer{
		min-height:250px;
		& .footer-copyright{
			margin-top:100px;
			margin-left: 150px;
		}
	}
}